body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../static/fondo.jpg");
    background-size: cover;
    background-position: center;
    animation: brightness-animation 10s ease infinite alternate;
}

@keyframes brightness-animation {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(70%);
    }
    100% {
        filter: brightness(100%);
    }
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.info-container {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 45%; /* Ajusta el ancho según sea necesario */
}

.form-container {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    border-radius: 30px;
    width: 30%; /* Ajusta el ancho según sea necesario */
}
h1, h2, p {
    text-align: center;
    color: black;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    height: auto;
}

form {
    margin-top: 20px;
    
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    
border-radius: 10px; /* Ajusta el valor según sea necesario */
    
    
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

form button[type="submit"] {
    display: block;
    border-radius: 10px;
    background-color: green;
    margin: 10px auto; /* Ajusta el margen según sea necesario */
}

.responses-container a {
    display: block;
    text-align: center;
    margin-top: 10px; /* Ajusta según sea necesario */
    
}
